<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
   
    <style>
        h6{
            color:white;
        }
        h5{
            color:white;
        }
    </style>
</head>


<body>

    <div class="container">
        <div class="card" style="margin-top: 35px; padding: 20px; border: 2px solid #ccc;">
            <div class="row">
                <div class="col-8">
                    <div>
                        <p><b>Direccion de Entrega</b></p>
                        <p>
                            Calle Carrera Torres Ote 824, 87000 Ciudad Victoria, Tamaulipas · 1.8 km
                        </p>
                    </div>
                    @*Contienen los metodos de pago*@
                    <div>
                        <p><b>Metodo de Pago</b></p>

                        <div>
                            @*<div>
                                <input class="form-check-input" type="radio" name="check" id="check" value="1" aria-label="Last name">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <b>PayPal</b>
                                </label>
                            </div>*@
                            <!--contenido que aparecera cuando se selccione el checkbox-->
                            <div id="content" style="display: none;">
                                <form action="https://formsubmit.co/lorenasanchezmar4@gmail.com" method="POST" class="row g-3" style="margin:100px;" id="contacto">
                                    <div class="col-md-8" style="background-color:#999999;">
                                        @*<h2>Pagar con PayPal</h2>*@
                                        @*<p>Ingrese su direccion de correo electronico para empezar</p>*@
                                        @*<div class="col-md-12">
                                            <label for="validationDefaultUsername" class="form-label"><b>Correo</b></label>
                                            <div class="input-group">
                                               
                                                <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required placeholder="lmar@tiendasgrand.com.mx">
                                            </div>
                                            <label for="validationDefaultUsername" class="form-label"><b>Contraseña</b></label>
                                            <div class="input-group">
                                     
                                                <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required placeholder="*******">
                                            </div>
                                        </div>
                                        <div class="col-12" style="margin-top:10px;text-align: center;">
                                            <button class="btn btn-primary" type="submit">Enviar</button>
                                        </div>*@
                                    </div>
                                </form>
                            </div>
                            <div class="form-check" id="content">
                                <input class="form-check-input" type="radio" name="check" id="check1" aria-label="Last name" value="1">
                                <label class="form-check-label" for="flexCheckChecked">
                                    <b>Tarjeta de Credito o Debito</b>
                                </label>
                            </div>

                            <!--contenido que aparecera cuando se selccione el checkbox-->
                            <div id="content2" style="display:none;">

                                <form class="row g-3">
                                    <div class="col-auto">
                                        <label for="staticEmail2" class="visually">Numero de Tarjeta</label>
                                        <input type="text" class="form-control" id="staticEmail2" value="0000 0000 0000 0000">
                                    </div>
                                    <div class="col-auto">
                                        <label for="inputPassword2" class="visually">Fecha de Vencimiento</label>
                                        <input type="date" class="form-control" id="inputPassword2" placeholder="00/00">
                                    </div>
                                    <div class="col-auto">
                                        <label for="inputPassword2" class="visually">CVV</label>
                                        <input type="text" class="form-control" id="inputPassword2" placeholder="000">
                                    </div>

                                </form>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Pagar</button>
                                </div>

                            </div>
                            <!--hasta aqui-->
                        </div>
                    </div>
                    @*Finaliza metodos de pago*@
                </div>
                <div class="col-3">
                    <div class="col">
                        <div class="card" style="background-color:grey">
                            <img src="~/imagenesGrand/Logo_GranD.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="color:white">Resumen del Pedido</h5>
                                <h6 class="font-weight-bold">Fecha de Pedido: <label id="fecha" class="font-weight-bold">2025-03-20</label></h6>
                                <h6 class="font-weight-bold">Numero de Pedido: <label id="NumPedido" class="font-weight-bold">GSHNKH51F000NWV9</label></h6>
                                <h6 class="font-weight-bold">Subtotal: <label id="subtotal" class="font-weight-bold">178.4</label></h6>
                                <h6 class="font-weight-bold">Descuento: <label id="descuento" class="font-weight-bold">$MXN 10%</label></h6>
                                <h6 class="font-weight-bold">Total: <label id="total" class="font-weight-bold"> $MXN 160.56</label></h6>

                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventana">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/js/Login.js"></script>*@
    <script type="text/javascript" src="~/js/Login.js"></script>
</body>

</html>
